<template name="story">
    <div class=container>
    <a href="/stories">&larr; Back to all stories</a>
<div class="jumbotron">
    {{#with story}}
        <div data-photographer="{{photographer}}" class="story">
            <h3>{{storyName}}</h3>
            <h4>Photographer: {{photographer}} <small>Editor: {{editor}}</h4>
            <ul id="storyView" class="list-inline list-unstyled">
                {{#each photos}}
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="{{.}}" class="thumbnail img-responsive"></li>
                {{/each}}
            </ul>
            <button title="see the show" class='btn btn-default' type='button' id='seeShow' data-id="{{_id}}">See Slide Show</button>
            <!-- using html5 data element - just for funs, better ways to do this -->
            <button data-user="Log in or create an account in order to vote" class='btn btn-default' type='button' id='vote'>Vote</button>
            <button title="create story" class='btn btn-default disabled' type='button' id='createStory'>Create Story</button>
            <p>Votes: <span>{{votes}}</span></p>
        </div>

    {{/with}}
</div>
</div>
</template>